{% extends "base.html" %}
{% block content %}

  <div class="page-header">
    <h1>Profile Home</h1>

    {% if user.is_authenticated %}
      You are logged in as {{ user }} <br>
      <a href="{% url 'profiles:profile_update' pk=user.id %}">Edit Profile</a>
    {% endif %}
    <hr> 
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4> About: </h4> {{ user_profile.about }} 
      </div>
      <div class="col-md-6">
          <div class="media">
            <img src="{{ user_profile.profile_image.url }}"> <br>
          </div>
      </div>
    </div>
    <hr>

    <!-- Users Posts -->
    <div class="row">
      <div class="col-md-6">
        <h4> My Posts: </h4><br>
        {% for post in posts %}
          <h4> {{ post.title }} </h4>
          {{ post.text }} <br>
        {% endfor %}
        <a href="{% url 'profiles:new_post' %}"> New Post </a>
      </div>
    <!-- Users Plants -->
      <div class="col-md-6">
        <h4> My Plants: </h4><br>
        {% for plant in user_plants %}
          <h4> {{ plant.nickname }} the {{ plant.plant.name }} </h4>
          <a href="{% url 'profiles:userplant_update' pk=plant.id %}">Edit Plant</a>
        {% endfor %}
      </div>
    </div>
    <hr>

  <!-- Post Feed -->
    <div class="row">
      <div class="col-md-2">
        <h4>Following:</h4>
        {% for followed_user in user_profile.following.all %}
           {{ followed_user }}
        {% endfor %}
      </div>

      <div class="col-md-10">
        <h4>Your Post Feed</h4> <br>
        {% for fpost in user_profile.user_feed %}
          <div class="card card-body">
            <div class="card">
              <h5 class="card-title">{{ fpost.author }}</h5>
              {% if img %}
                <img class="card-img-top" src="..." alt="Card image cap">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ fpost.title }}</h5>
                <p class="card-text">{{ fpost.text }}</p>
                <div class="comment-section" style="border-style:solid; border-width: 1px;">
                  <a class="btn btn-primary btn-sm">Comments</a>
                  <div class="comments">
                    {% for comment in fpost.comments.all %}
                      <div class="comment">
                        <div class="date">{{ comment.created_date }}</div>
                        <strong>{{ comment.author }}</strong>
                        <p>{{ comment.text|linebreaks }}</p><hr>
                      </div>
                    {% empty %}
                      <p>No comments here yet :( </p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <hr>

<a href="{% url 'polls:index' %}">Polls</a><br>
<a href="{% url 'plants:home' %}">Plants Home</a>
{% endblock %}