{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
            <div class="media">
                <img src="{{ user_profile.profile_image.url }}"> <br>
            </div>

                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update Plant</button>
            </div>
        </form>
    </div>
{% endblock %}