{% extends "base.html" %}
{% block content %}

  User: {{ user_profile.user }} <br>
  About: {{ user_profile.about }} <br>

  <div class="media">
    <img src="{{ user_profile.profile_image.url }}"> <br>
  </div><br><br>
  <hr>

  {{ user_profile.user }}'s Plants: 
  {% for plant in user_plants %}
    <h4> {{ plant.nickname }} the {{ plant.plant.name }} </h4>
  {% endfor %}
  <br> 

  <hr>
   {{ user_profile.user }}'s Posts: <br>
  {% for post in posts %}
    <h4> {{ post.title }} </h4>
    {{ post.text }} <br>

    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        View Comments ({{post.comments.all.count}})
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
      {% for comment in post.comments.all %}
        <div class="comment">
          <div class="date">{{ comment.created_date }}</div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaks }}</p>
      </div>
      {% empty %}
      <p>No comments here yet :(</p>
      {% endfor %}
      </div>
    </div>

  {% endfor %}

{% endblock %}