h2, h3, h4, h5, h6 {
  color: green;
}

h1 h2 h3 h4 h5 {
  color: green;
}

header {
  color: green;
}

body {
  background: green;
  color: green;
  margin-top: 5rem;
}

li a {
    color: blue;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.left-border {
  border-left: 1px;
  color: red;
  background: green;
}